.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    Exciting new capabilities!
  .description
    We welcome your feedback and contribution to our
    =link_to "vision and roadmap", "https://about.gitlab.com/direction/secure/"

  .row
    .column.item
      = image_tag "/images/solutions/icon_data-doc.svg", width: "100px"
      .title
        Vulnerability Management
      .description
        Evaluate vulnerabilities based upon risk and scanning vendor used. 

      = link_to "Risk-based Triage", "https://gitlab.com/groups/gitlab-org/-/epics/3307"
      = link_to "Filter by scanner vendor", "https://gitlab.com/gitlab-org/gitlab/-/issues/229661"

    .column.item
      = image_tag "/images/solutions/icon_shift-left.svg", width: "100px"
      .title
        Fuzz testing
      .description
        Integrating Fuzz Testing acquisitions to apply this powerful technology to automatically test for unknown security flaws.
      = link_to "Coverage-guided Fuzz Testing", "https://gitlab.com/groups/gitlab-org/-/epics/3226"
      = link_to "API Fuzz Testing", "https://gitlab.com/groups/gitlab-org/-/epics/2840"

    .column.item
      = image_tag "/images/solutions/icon_sheild-check.svg", width: "100px"
      .title
        Container Security
      .description
        Defend the security of cloud-native production applications.
      = link_to "Container Network Policies", "https://gitlab.com/groups/gitlab-org/-/epics/3403"
      = link_to "Container Host Security", "https://about.gitlab.com/direction/defend/container_host_security/"

